table{
    width: 1000px;
    border: 1px #D9D9D9 solid;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000000;
}
tr:hover td {
    background: #3D80DF;
    color: #FFFFFF;
}
th{
    padding: 5px;
    border: #444444 1px solid;
    background: #C6DAF7;
    font-weight: bold;
    line-height: 120%;
}
td{
    padding: 5px;
    border: #D9D9D9 solid;
    border-width: 1px 1px 1px 1px;
}
